<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EfTest" providerName="System.Data.SqlClient"  connectionString="Server=(localdb)\v11.0;Initial Catalog=EfTest;Integrated Security=true" ></add>
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="TestEf.Context, TestEf">
        <databaseInitializer type="TestEf.DbInit, TestEf" />
      </context>
      <context type="TestEf.Context2, TestEf">
        <databaseInitializer type="TestEf.DbInit2, TestEf" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>